/*Toute la page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

/*Bouton addition*/
.Btn_add{
    font-weight: normal;
    margin-bottom: 20px;
    background-color: #2bc48a;
    margin:40px 20px 40px 10px;
    padding:10px 10px;
    color: #fff;
    align-items: center;
    text-align: 0;
    border-radius: 6px;
    text-decoration: none;
}
.Btn_add img{
    margin-right: 5px;   
    height: 20px;
}


/*entete de la page*/
header{
    padding: 20px;
    width: 1536px;
    height: 80px;
    background-color:#2bc48a;
}
/*navigation*/
ul{
    list-style: none;
    
}

li{
    display: inline;
    margin-right: 10px;
    text-decoration: none;
    font-size:20px;
}

li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

nav{
    text-align: right;
    float: left;
}

/*recherche*/
.rec{
    float: right;
    padding: 20px 30px 10px 10px;
}
/*fin de l'entete*/


/*table*/
table
{
    border-collapse: collapse;
    color:black;
}
table#soutenir th{
    font-size: 16px;
    border-bottom:3px solid #ffcb61;
    padding: 0px 0px 10px 0px;
    font-weight: 700;
}
th{
    font-size: 16px;
    border-bottom:3px solid #ffcb61;
    padding: 5px 20px;
    font-weight: 700;
}

td{
    font-size: 14px;
    font-weight: 400px;
    padding: 5px 30px;
}
/*image dans la table*/
image{
    height: 30px;
}

tr:nth-child(2n){
    background-color: #f6f8f8;
}

tr:nth-child(2n) td{
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}

.delete-icon{
    cursor: pointer;
}

/* bouton pour la gestion de soutenance*/
.Btn_note
{
    width: 400px;
    margin-bottom: 20px;
    background-color: #76817e;
    margin-bottom: 20px;
    padding:5px 20px;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: 0;
    border-radius: 6px;
    text-decoration: none;
}

/*proces verbal*/
.pv
{
    width: 80px;
    margin-bottom: 20px;
    background-color: #76817e;
    margin-bottom: 20px;
    padding:5px 20px;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: 0;
    border-radius: 6px;
    text-decoration: none;
}

/*   */
a:link{
    color: #76817e;
    font-weight: bolder;
}

fieldset{
    border-radius: 10px;
    border-style:ridge;
    border-color: #2bc48a;
    margin-left:80px;
    margin-right: 80px;
    margin-top:100px;
    padding-bottom: 20px;
}   

/*message d'erreur*/
.erreur_message
{
    color: red;
    font-size: 12px;
}